body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
}
.btn{
  width: 120px;  
  height: 120px;
  border-radius: 50%;
}